html {
  background-color: #c9b5ab;
}

body {
  font-family: "PT Serif", serif;
  line-height: 1.5rem;
}

header {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

h1 {
  color: #3f1622;
  line-height: 1.5;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622;
}

nav > ol > li {
  list-style: none;
  line-height: 1.5;
}

a {
  color: #8f2440;
  text-decoration: none;
  font-size: 1.125em;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

p:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5em;
}

blockquote > p > cite {
  font-size: 0.8rem;
}

ol > li {
  list-style-type: lower-greek;
}

dl > dt {
  font-style: italic;
}

dd {
  font-weight: bold;
}

dd > data {
  font-weight: normal;
}

ul > li {
  list-style: circle;
  font-size: 0.8rem;
}

small {
  font-size: 1rem;
}

small > a {
  font-size: 1rem;
}
